.menu-top {
    height: 100px;
    margin: -20px 0 0 0;
    position: relative;
}

.menu-top>div {
    position: absolute;
    top: 35px;
    height: 30px;
    line-height: 30px;
}

.menu-top .menu-top-logo {
    top: 0px;
    left: 10px;
    height: 100px;
    width: 218px;
}

.menu-top .menu-top-container {
    left: 250px;
}

.menu-top .menu-top-request {
    right: 0px;
}

.menu-top a.logo {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-indent: -9999px;
    background: #fff url(img/studentenpas-logo.png) top left no-repeat;
    zoom: 1;
    *display: block;
}

.menu-top ul {
    padding: 0;
    margin: 0;
}

.menu-top li {
    float: left;
    margin: 0 0 0 10px;
    line-height: 30px;
}

.menu-top li a {
    display: inline-block;
    background-color: #f0f0f0;
    color: #303030;
    height: 30px;
    padding: 0 14px;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.menu-top-container li:first-child {
    margin: 0;
}

.menu-top-container a:hover {
    background-color: #e2e2e2;
}

.menu-top-container li.active a {
    font-weight: bold;
    background-color: #006cb1;
    color: #fff;
}

.menu-top-container li.active a:hover {
    background-color: #006cb1;
}

.header {
    background-color: #000;
    height: 20px;
    margin: 10px 0px;
    padding-left: 3px;
    line-height: 20px;
    color: #fff;
}

.search-bar {
    height: 180px;
    margin: 0 -20px 20px -20px;
    background: #000 url(img/header-search.png) top left no-repeat;
}

.magenta {
    background-color: #e60092;
    *background-color: #e60092;
    background-image: -moz-linear-gradient(top, #ec008c, #d1047e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec008c), to(#d1047e));
    background-image: -webkit-linear-gradient(top, #ec008c, #d1047e);
    background-image: -o-linear-gradient(top, #ec008c, #d1047e);
    background-image: linear-gradient(to bottom, #ec008c, #d1047e);
    background-repeat: repeat-x;
    border-color: #d1047e #d1047e #e60092;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ff0044cc', GradientType = 0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.magenta:hover {
    color: #ffffff;
    background-color: #d1047e;
    *background-color: #d1047e;
}

.blue {
    background-color: #005f9c;
    *background-color: #005f9c;
    background-image: -moz-linear-gradient(top, #0081c2, #006cb1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#006cb1));
    background-image: -webkit-linear-gradient(top, #0081c2, #006cb1);
    background-image: -o-linear-gradient(top, #0081c2, #006cb1);
    background-image: linear-gradient(to bottom, #0081c2, #006cb1);
    background-repeat: repeat-x;
    border-color: #006cb1 #006cb1 #005f9c;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ff0044cc', GradientType = 0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.blue:hover {
    color: #ffffff;
    background-color: #006cb1;
    *background-color: #006cb1;
}

.orange {
    background-color: #ea5f1c;
    *background-color: #ea5f1c;
    background-image: -moz-linear-gradient(top, #f26522, #e94b00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f26522), to(#e94b00));
    background-image: -webkit-linear-gradient(top, #f26522, #e94b00);
    background-image: -o-linear-gradient(top, #f26522, #e94b00);
    background-image: linear-gradient(to bottom, #f26522, #e94b00);
    background-repeat: repeat-x;
    border-color: #e94b00 #e94b00 #ea5f1c;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff0088cc', endColorstr = '#ea5f1c', GradientType = 0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.orange:hover {
    color: #ffffff;
    background-color: #e94b00;
    *background-color: #e94b00;
}


input[type="submit"].btn:after{
    content: '»'
}

.picker > input[type="text"]{
    width: 50px;
}



.registration-form {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px; }
.registration-form p {
    margin: 10px 5px; }
.registration-form p + .section-header {
    margin-top: 20px; }
.registration-form .section-header + p {
    margin-top: -10px; }

.section-header {
    text-transform: uppercase;
    background-color: #006cb1;
    display: block;
    margin: 0 0 20px 0;
    padding: 0 20px;
    line-height: 20px;
    height: 20px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff; }

.has-account {
    margin-top: 20px; }
.has-account h3 {
    font-size: 16px;
    margin: 0; }
.has-account p {
    margin: 5px 0 15px 0; }
.has-account .control-group.row-fluid {
    margin-bottom: 10px; }


.form-horizontal .control-label {
    font-weight: bold; }
.form-horizontal .section-header + .well.well-small {
    margin-top: -20px;
    border-top: none;
    border-radius: 0 0 3px 3px; }
.form-horizontal .section-header + .well.well-small .span4 {
    font-weight: bold;
    text-align: right; }
.form-horizontal .grid-view .pull-right {
    margin-bottom: 10px; }
.form-horizontal .credit-radio-options {
    margin: 5px 0 10px 20px;
    line-height: 30px; }
.form-horizontal .credit-radio-options table {
    margin-top: 10px;
    margin-bottom: 0; }

.section-divider {
    clear: both;
    border-bottom: 1px solid #e7e7e7;
    margin: 10px 0;
    display: block; }

.inner .btn-action,
.inner .btn-submit {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #ec008c;
    *background-color: #ec008c;
    background-image: -moz-linear-gradient(top, #ec008c, #b90059);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ec008c), to(#b90059));
    background-image: -webkit-linear-gradient(top, #ec008c, #b90059);
    background-image: -o-linear-gradient(top, #ec008c, #b90059);
    background-image: linear-gradient(to bottom, #ec008c, #b90059);
    background-repeat: repeat-x;
    border-color: #b90059 #b90059 #a00040;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFB90059', endColorstr='#FFEC008C',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); }
.inner .btn-action:hover, .inner .btn-action:focus, .inner .btn-action:active, .inner .btn-action[disabled], .inner .btn-action.disabled,
.inner .btn-submit:hover,
.inner .btn-submit:focus,
.inner .btn-submit:active,
.inner .btn-submit[disabled],
.inner .btn-submit.disabled {
    color: #fff;
    background-color: #b90059;
    *background-color: #b90059; }
.inner .btn-action[disabled], .inner .btn-action.disabled,
.inner .btn-submit[disabled],
.inner .btn-submit.disabled {
    background-image: none; }
.inner .btn-submit {
    float: right; }