
h2.dashboard{
    margin: 0!important;
    width: auto;
}


.dashboard {
    margin: 0 auto 5px auto;
    width: 650px;
    padding: 0;
}

.dashboard li {
    float: left;
    display: inline-block;
    padding: 0px;
    background-color: #f7f7f7;
    margin: 10px 10px 10px 10px;
}

.dashboard li:hover {
    background-image: url(img/item_hover.png);
    background-repeat: repeat-x;
}

.dashboard li a {
    float: left;
    display: block;
    padding: 100px 25px 10px 25px;
    text-align: center;
    width: 90px;
    height: 30px;
    color: #707070;
    text-decoration: none;
    border: 1px solid #e2e2e2;
    font: 14px Arial;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 10px 10px;

}



.dashboard li.users a {
    background-image: url(img/icon_users.png);
}
.dashboard li.event a {
    background-image: url(img/icon_event.png);
}
.dashboard li.regelement a {
    background-image: url(img/icon_regelement.png);
}

.dashboard li.branches a {
    background-image: url(img/icon_branches.png);
}

.dashboard li.cities a {
    background-image: url(img/icon_cities.png);
}

.dashboard li.clippings a {
    background-image: url(img/icon_clippings.png);
}

.dashboard li.function a {
    background-image: url(img/icon_details.png);
}

.dashboard li.devices a {
    background-image: url(img/icon_devices.png);
}

.dashboard li.marital a {
    background-image: url(img/icon_marital.png);
}

.dashboard li.movies a {
    background-image: url(img/icon_movies.png);
}

.dashboard li.pictures a {
    background-image: url(img/icon_pictures.png);
}

.dashboard li.presentations a {
    background-image: url(img/icon_presentations.png);
}

.dashboard li.salutation a {
    background-image: url(img/icon_salutation.png);
}

.dashboard li.tasks a {
    background-image: url(img/icon_tasks.png);
}

.dashboard li.skills a {
    background-image: url(img/icon_skills.png);
}

.dashboard li.candidates a {
    background-image: url(img/icon_candidate.png);
}

.dashboard li.info a {
    background-image: url(img/icon_introduction_m.png);
}